<section id="about">
  <div class="container">
    <div class="header text-center">
      <h1>ABOUT COMPONENT</h1>
      <div class="d-flex justify-content-center align-items-center">
        <span class="line"></span>
        <span><i class="fa-solid fa-star px-3"></i></span>
        <span class="line"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</section>
